NET "LEDS<7>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<6>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LEDS<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "Switches<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "Switches<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "Switches<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "Switches<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "Switches<4>" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "Switches<5>" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "Switches<6>" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "Switches<7>" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "CLK" LOC = "C9";

NET "jumper1" LOC = "B4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "jumper2" LOC = "A4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;

NET "jumper3" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "jumper4" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;